
.icon-location:before { content: '\e800'; } /* '' */
.icon-dog:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f30e'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */